In [1]:
try:
    import pandas as pd
    import numpy as np
    from faker import Faker
    import csv
    from sqlalchemy import create_engine
    import psycopg2
except:
    !pip install pandas numpy faker sqlalchemy psycopg2-binary
    import pandas as pd
    import numpy as np
    from faker import Faker
    import csv
    from sqlalchemy import create_engine
    import psycopg2

Collecting pandas
  Downloading pandas-1.4.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 56.2 MB/s eta 0:00:0000:010:01
Collecting numpy
  Downloading numpy-1.22.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 32.3 MB/s eta 0:00:0000:0100:01
Collecting faker
  Using cached Faker-13.12.0-py3-none-any.whl (1.6 MB)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.36)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 40.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: psycopg2-binary, numpy, pandas, faker
Successfully installed faker-13.12.0 numpy-1.22.4 pandas-1.4.2 psycopg2-binary-2.9.3

### Create the CSV data and import to the database as pre-requisite

In [2]:
from faker import Faker
import csv
output=open('data.csv','w')
fake=Faker()
header=['name','age','street','city','state','zip','lng','lat']
mywriter=csv.writer(output)
mywriter.writerow(header)
for r in range(1000):
    row =[fake.name(),fake.random_int(min=18,max=80, step=1), 
                       fake.street_address(), fake.city(),fake.state(),
                       fake.zipcode(),fake.longitude(),fake.latitude()]
    #print(row)
    mywriter.writerow(row)

output.close()

### Create the connection to the database

Due to a bug in the libpq packages for Mac M1 laptops, a workaround is to run the containers with rosetta or on intel based Linux machine
ref link: https://stackoverflow.com/questions/62807717/how-can-i-solve-postgresql-scram-authentifcation-problem

In [3]:
host='ibrahim_postgres'
username='postgres'
password='password123'
database='deproject'
port='5432'

engine = create_engine(connect)
print(engine.table_names())

[]

/tmp/ipykernel_962/1535376310.py:14: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

### Send the csv data to the postgres database

In [4]:
df = pd.read_csv('./data.csv')
df.head()

,name,age,street,city,state,zip,lng,lat
0,Antonio Brown,79,323 Jason Flat Suite 519,Chaseton,Arizona,82488,-39.537394,68.791539
1,Laura Jones,44,920 Julia Well Apt. 168,North Amyville,South Carolina,81389,63.843692,44.614125
2,Tiffany Jones,34,12275 Crawford Forges Apt. 931,Johnsonton,Michigan,15812,-166.687859,79.271888
3,Melissa Thornton,52,9263 Lucas Stream,Smithbury,Idaho,95478,-80.484271,-36.097700
4,Amber Campbell,74,189 Edward Hollow,Ramirezview,Massachusetts,83852,-42.884748,-11.912273

In [5]:
df.to_sql('data',engine, if_exists='replace', index=False)

1000

In [7]:
def PSQL_to_DF():
    host='ibrahim_postgres'
    username='postgres'
    password='password123'
    database='deproject'
    port='5432'
    engine = create_engine(connect)
    
    df = pd.read_sql('SELECT * FROM data', engine)
    
    return df.copy()

In [8]:
df = PSQL_to_DF()
df.head()

,name,age,street,city,state,zip,lng,lat
0,Antonio Brown,79,323 Jason Flat Suite 519,Chaseton,Arizona,82488,-39.537394,68.791539
1,Laura Jones,44,920 Julia Well Apt. 168,North Amyville,South Carolina,81389,63.843692,44.614125
2,Tiffany Jones,34,12275 Crawford Forges Apt. 931,Johnsonton,Michigan,15812,-166.687859,79.271888
3,Melissa Thornton,52,9263 Lucas Stream,Smithbury,Idaho,95478,-80.484271,-36.097700
4,Amber Campbell,74,189 Edward Hollow,Ramirezview,Massachusetts,83852,-42.884748,-11.912273

In [26]:
def CSV_to_JSON(df):
    json_list = df.to_dict(orient='records')
    return json_list

In [28]:
json_list = CSV_to_JSON(df)

In [ ]:
def JSON_to_Mongo